/* ここから下に記載していく */

/* 共通 */
@charset "utf-8"; 

body{ 
    width: 1200px; 
    margin: auto;
    color: #222222;
    font-family: sans-serif;
    font-size: 16px; 
} 

h2{
    font-weight: bold;
}

img{
    max-width: 100%;
    height: auto;
}



/* Header */ 
/* logo & Navigation */ 
.header__container{ 
    padding: 0px;
    display: flex; 
    align-items: center;
    justify-content: space-between; 
    border: solid 1px #cacaca; 
    top: 0;
    height: 121px;
}

.header_logo{ 
    display: flex; 
    align-items: center; 
    margin-left: 20px; 
} 
   
.navi-list{ 
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    gap: 50px;
    margin: 50px;
}


.navi-item>a{ 
    color: #222;
    font-size: 21px;
    text-transform: uppercase; 
}

/* Main Visual & Copy */
.mainvisual{ 
    position: relative;
}

.mainvisual img{
    width: 100%;
}

.maincopy{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%; 
    position: absolute; 
    top: 50%;
    left: 50%; 
    transform: translate(-50%,-50%); 
}

.maincopy1{
    text-align: center; 
    font-size: 48px; 
    font-weight: bolder;
    color: #fff;
}

.maincopy2{
    text-align: center;
    font-size: 32px;
    font-weight: lighter;
    color: #fff;
}


/* ABOUT */
.About{ 
    text-align: center; 
    padding-top: 60px;
    padding-bottom: 80px; 
}

.about_title_h2{
    margin-bottom: 30px;
    color: #ffd61a;
    font-size: 24px;
}

.about_title_h3{
    margin-bottom: 60px;
    color: #222222;
    font-size: 18px;
} 

.about__text{
    margin-bottom: 40px;
    line-height: 1.7;
}

.Aboutimg{
    display: flex; 
    text-align: center;
    width: 100%;
}

.Aboutimg img{ 
    width: 300px;
    margin-bottom: 60px;
}

/* COURSE */
.Course{ 
    text-align: center;
}

.Course h2{
    font-size: 24px; 
    margin-bottom: 30px;
}

.Course p{
    font-size: 16px;
    line-height: 1.7;
}

.Course h3{
    font-size: 18px;
    font-weight: bold;
}

.Course__header{ 
    margin-bottom: 60px; 
}

.Course_Container{ 
    display: flex;
    flex-wrap: wrap; 
    /* align-items: center; */
} 

.Course_Box{ 
    flex-basis: 50%; 
}

.Course_Box_text{ 
    flex-basis: 50%; 
    display: flex; 
    align-self: center;
}

.Course_Box_text.left{
    justify-content: flex-end;
}

.Course_Box_text h3{
margin-bottom: 40px;
}

.inBox_left{ 
    width: 480px; 
    padding-right: 50px; 
}

.inBox_right{ 
    width: 480px;
    padding-left: 50px;
}

/* NEWS */ 
.News__wrapper{ 
    width: 960px;
    margin: auto;
}

.News__title_h2{
    margin-top: 60px;
    text-align: center;
    margin-bottom: 30px;
    color: #ffd61a;
    font-size: 24px; 
}

.News__title_h3{
    margin-top: 30px;
    margin-bottom: 60px;
    text-align: center;
    color: #222222;
    font-size: 18px;
}

.News__list{
    display: flex;
    gap: 30px;
    width: 960px;
}

.News__item{
    width: 300px; 
}

.News__eyecatch{
    margin-bottom: 30px; 
}

.News__heading{
    margin-bottom: 24px;
}

.News__text{
    line-height: 1.7;
}

.btn{
    display: block;
    width: 300px; 
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    padding: 21px 0;
    background-color: #ffd61a;
    color: #fff; 
    font-size: 18px;
    text-align: center; 
}

.btn:hover {
    background-color: #e87272;
}

.btn:focus {
    outline: 0;
    background-color: #ffd61a;
    border: 2px solid transparent;;
}

/* ACCESS */
.Access{
    background-color: #fafafa;
    margin-top: 60px;
    padding-top: 60px;
    padding-bottom: 45px;
    text-align: center;
}

.Access h2{
    font-size: 24px;
    margin-bottom: 30px;
} 

.Access h3{
    font-size: 18px;
    margin-bottom: 60px;
} 

.map {
    width: 100%;
    position: relative;
    padding-top: 33.33%;
}
  
.map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
} 

.Access_Container{ 
    display: flex; 
    flex-wrap: wrap;
    width: 50%;
    margin: 45px auto 0;
    justify-content: space-between;
}


.Access_Container dt{ 
    flex-basis: 30%; 
    justify-content: flex-start;
    text-align: left;
    line-height: 50px; 
    margin: 15px 0 
}

.Access_Container dd{ 
    flex-basis: 70%;
    text-align: left;
    line-height: 50px;
    margin: 15px 0 
} 


/* CONTACT */
.Contact__title_h2{
    padding-top: 60px; 
    margin-bottom: 30px;
    text-align: center;
    color: #222222;
    font-size: 24px;
}

.Contact__title_h3{ 
    margin-bottom: 60px;
    text-align: center;
    color: #222222;
    font-size: 18px;
}

.Contact__text{ 
    margin-bottom: 30px;
    text-align: center;
    color: #222222; 
    line-height: 1.7;
}


.form_Container{
    display: flex;
    flex-wrap: wrap;
    width: 670px;
    margin: 40px auto 30px;
    border-top: solid 3px #bfbfbf; 
    border-bottom: solid 3px #bfbfbf;
    
}

.form_Container dt{ 
    width: 200px; 
    line-height: 2;
    border-right: 3px solid #bfbfbf;
    border-bottom: 1px solid #bfbfbf;
    padding: 8px 0 8px 16px;
} 

.form_Container dd{ 
    line-height: 2; 
    width: 440px; 
    border-bottom: 1px solid #bfbfbf;
    padding: 8px 0 8px 8px;
}

/* form text */
.form-text { 
    height: 36px;
    width: 328px;
    padding: 0 16px;
    border-radius: 4px;
    border: none;
    box-shadow: 0 0 0 1px #ccc inset;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.form-text:focus {
    outline: 0;
    box-shadow: 0 0 0 2px rgb(33, 150, 243) inset;
}

/* button */
.form-submit-button {
    display: block;
    width: 300px; 
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    padding: 18px 0;
    background-color: #ffd61a;
    color: #fff; 
    font-size: 18px; 
    border: 0px solid transparent;
} 

.form-submit-button:hover {
    background-color: #e87272;
}

.form-submit-button:focus {
    outline: 0;
    background-color: #ffd61a;
    border: 2px solid transparent;;
}


/* footer */
.footer{
    margin: 140px auto;
    width: 100%;
    background-color: #707070;
    padding: 30px;
    text-align: center;
    color: #fff;
}




