/* ここから下に記載していく */ 

/* General */ 

html {
    overflow-x: hidden; 
  } 
  
body { 
    width: 100%; 
    background-color: #d9c6b0;
    max-width: 1200px;
    margin: 0 auto;
} 

p {
  text-align: center;
  color: #40200E;
  line-height: 1.7; 
}

h1 {
  display: none;
}

/* 見出しの書式 h2 */

h2 {
    font-size: x-large;
    color: #40200e;
    font-family: serif;
    font-weight: bold; 
    margin-bottom: 30px;
    text-transform: uppercase;
}

.heading02 {
	display: flex;
	justify-content: center;
	align-items: center; 
  padding-top: 120px; 
  margin-top:-120px;
}

.heading02::before,
.heading02::after {
	content: '';
	width: 70px;
	height: 3px;
	background-color: #8C441B;
}

.heading02::before {
	margin-right: 20px;
}
.heading02::after {
	margin-left: 20px;
}

/* 見出しの書式　h3 & h4 */
h3, h4{
  font-family: sans-serif;
  color: #40200e;
  font-size: large;
  font-weight: bold;
  text-align: center; 
}

/* btn */

.btn{
  border: none;
  display: block;
  width: 300px; 
  margin: 60px auto 120px auto; 
  padding: 21px 0;
  background-color: #40200E;
  color: #D9C6B0; 
  font-size: large; 
  font-family: serif; 
  font-weight: bold;
  text-align: center; 
  letter-spacing: 5px;
  text-transform: uppercase;
  filter: drop-shadow(5px 5px 5px #8C441B);
}

.btn:hover {
  background-color: #F2A007;
  filter: drop-shadow(10px 10px 10px #8C441B);
}

.btn:focus {
  outline: 0;
  background-color: #40200E; 
} 

/* Header Area */

header {
    width: 100%;
    height: 100px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #40200e;
    position: fixed;
    z-index: 1;
}

.header_container{ 
    display: flex; 
    align-items: center;
    justify-content: space-between; 
    top: 0; 
}

.header_logo {
   height: 90px;
   margin: 5px 40px; 
 }

 .header_logo:hover {
  background-color: #D9C6B0; 
  border-radius: 100%;
  opacity: 0.9;
 }

 .nav_list {
    display: flex;
    gap: 50px;
    font-family: serif;
    font-weight: bold;
    font-size: large;
    color: #d9c6b0;
    text-transform: uppercase; 
    margin-right: 50px;
 }

 .nav_item>a {
    color: #d9c6b0; 
 }

 .nav_item:hover {
  color: #40200E; 
  filter: drop-shadow(10px 10px 10px #F2A007); 
}

/* Main Area */
.Main {
  padding-top: 100px;
}

/* Hero Area */
.Hero {
    width: 100%; 
    height: 700px; 
    max-width: 1200px;
    background-image: url(/img/azzedine-rouichi-YW_5rJvAdKw-unsplash_s.jpg);
    background-size: cover;
    background-repeat: no-repeat; 
}

.Hero_container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center; 
  align-items: flex-start;
  gap: 50px;
}

.Hero_boxB {
  text-align: center;
}

.hero_logo {
  width: 95%;
  min-width: 300px;
  margin: 60px auto auto auto; 
  filter: drop-shadow(5px 5px 5px #40200E);
} 

.Hero p{
    color: #fff; 
    writing-mode: vertical-rl; 
    font-family: serif; 
    line-height: 1.5;
    text-shadow: 3px 3px 5px #000;
    background-color: rgba(64, 32, 14, 0.1);
    border-radius: 10%;
    padding: 20px;
}

.maincopy1{ 
    font-size: 48px; 
    font-weight: bolder;
    margin-top: 80px; 
} 

.maincopy2{ 
    font-size: 32px;
    font-weight: lighter; 
    margin-top: 80px; 
}  

/* About Area */

.About {
  margin: 60px auto ; 
} 

.About h3 {
  margin-bottom: 60px;
}

.About p { 
  margin-bottom: 40px;
}

/* ABOUT Area Image Slider */ 
.About_image {
  border-style: double none;
  border-width: 8px;
  border-color: #8C441B; 
  margin: 60px auto 60px auto;
 }

 .slider img {
  width:100%;/*スライダー内の画像を横幅100%に*/
  height:auto;
}

/*slickのJSで書かれるタグ内、スライド左右の余白調整*/

.slider .slick-slide {
  margin:0 10px;/*スライド左右の余白調整*/
} 

/* Course Area */

.Course{ 
width: 90%;
margin: 0 auto 60px auto;
margin-bottom: 60px;
}

.Course h2{
font-size: 24px; 
margin-bottom: 30px;
} 

.Course h3{
font-size: 18px;
font-weight: bold;
line-height: 1.7;
margin-bottom: 60px;
}

.Course h4 { 
  margin-bottom: 40px;
  border-bottom: 5px double #8C441B;
  line-height: 2;
}

.Course img { 
  max-width: 100%; 
  border-radius: 5%;
  text-align: center;
  filter: drop-shadow(5px 5px 5px #40200E);
}

.Course_wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
} 

.Course_container_1 { 
  display: flex; 
} 

.Course_container_2 {
  display: flex;
  flex-direction: row-reverse; 
} 

.Course_container_3 { 
  display: flex; 
} 

.Course_Box_1 { 
  display: flex; 
  flex-wrap: wrap; 
  justify-content: center;
  align-self: center;
  flex-basis: 60%; 
  padding-right: 50px;
  margin-left: 50px; 
} 

.Course_Box_2 { 
  display: flex; 
  flex-wrap: wrap; 
  justify-content: center;
  align-self: center;
  flex-basis: 60%; 
  margin-right: 50px;
  padding-left: 50px; 
}

.Course_Box_3 { 
  display: flex; 
  flex-wrap: wrap; 
  justify-content: center;
  align-self: center;
  flex-basis: 60%; 
  padding-right: 50px; 
  margin-left: 50px;
} 

/* News Area */ 

.News_wrapper{ 
  width: 960px;
  margin: 60px auto;
} 

.News_list{
  margin-top: 60px;
  display: flex;
  gap: 30px;
  width: 960px;
}

.News_item{
  width: 300px; 
}

.News_item:hover {
  background-color: #F2A007;
  filter: brightness(110%); 
}

.News_img{
  margin-bottom: 30px; 
}

.News_heading{
  margin-bottom: 24px;
  text-align: left;
  font-size: medium;
} 

.News_text{
  text-align: justify;
} 

/* ACCESS */

#ACCESS {
  padding-top: 60px;
  margin-top:-60px;
}

.Access{ 
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  color: #40200E;
  background-color: #F2A007;
  margin-bottom: 60px;
}

.Access h2 {
  margin-bottom: 30px;
}

.Access h3 {
  margin-bottom: 30px;
}

.map {
  width: 80%;
  position: relative;
  padding-top: 33.33%;
  margin: 0 auto;
}

.map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
} 

.Access_Container{ 
  display: flex; 
  flex-wrap: wrap;
  width: 50%;
  margin: 60px auto 0;
  justify-content: space-between;
} 

.Access_Container dt{ 
  flex-basis: 30%; 
  justify-content: flex-start;
  text-align: left;
  line-height: 50px; 
  margin: 5px 0 
}

.Access_Container dd{ 
  flex-basis: 70%;
  text-align: left;
  line-height: 50px;
  margin: 5px 0 
} 

/* CONTACT */ 

.Contact {
  color: #40200E;
  line-height: 1.7;
}

.Contact h2 { 
  margin-bottom: 30px;
}

.Contact h3 {
  margin-bottom: 30px;
}

.Contact p {
  text-align: center; 
  margin-bottom: 20px;
} 

.form_Container{
  display: flex;
  flex-wrap: wrap;
  width: 670px;
  margin: 40px auto 30px;
  border-top: solid 3px #8C441B; 
  border-bottom: solid 3px #8C441B; 
}

.form_Container dt{ 
  width: 200px; 
  line-height: 2;
  border-right: 3px solid #8C441B;
  border-bottom: 1px solid #8C441B;
  padding: 8px 0 8px 16px;
} 

.form_Container dd{ 
  line-height: 2; 
  width: 440px; 
  border-bottom: 1px solid #8C441B;
  padding: 8px 0 8px 8px;
}

  /* form text */
  .form-text { 
    height: 36px;
    width: 328px;
    padding: 0 16px;
    border-radius: 4px;
    border: none;
    box-shadow: 0 0 0 1px #8C441B inset;
    appearance: none; 
  }

  .form-text:focus {
    outline: 0;
    box-shadow: 0 0 0 2px #8C441B inset;
  } 

  /* select box */

  .form-select {
    display: inline-flex;
    align-items: center; 
    position: relative;
    padding-top: 10px; 
  }

  .form-select::after {
    position: absolute;
    right: 15px;
    width: 10px;
    height: 7px;
    background-color: #8C441B;
    clip-path: polygon(0 0, 100% 0, 50% 100%);
    content: '';
    pointer-events: none;
  }

  .form-select select {
    appearance: none;
    width: 360px;
    height: 2.8em; 
    border: 1px solid #8C441B; 
    background-color: #fff;
    color: #040200;
    font-size: 1em;
    cursor: pointer;
    padding: 0 16px;
    border-radius: 4px;
  } 

.detail_text { border: none;
  box-shadow: 0 0 0 1px #8C441B inset; 
}

.detail_text:focus {
  outline: 0;
  box-shadow: 0 0 0 2px #8C441B inset;
} 

.imput {
  display: none;
}

  /* Footer Area */

  .footer{
    margin: 140px auto 0 auto;
    width: 100%;
    max-width: 1200px; 
    background-color: #8C441B;
    padding: 30px 0;
    text-align: center;
    color: #D9C6B0;
}